<%- include('header'); -%>
<%- include('navbar'); -%>
<div>
  <h1 style="text-align: center; padding-top: 20px;">Welcome to E-voting portal</h1>
</div>
<div class="row main-container">
  <div class="col-lg-6" style="text-align: center;">
    <div class="left">
      <img src="images/blockchain.png" alt="" style="width: 200px; margin: auto;">
      <h5>Secured online voting using Blockchain Technology and smart contracts</h5>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="right">
      <form method="POST" action="/">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
            else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary btn-lg mb-2">Log In</button>
      </form>
    </div>
  </div>
</div>
<%- include('footer'); -%>